@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
body {
  text-align: center;
  font-family: "Lato", sens-serif;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.textarea {
  padding: 0px;
  height: 250px;
  width: 100%;
}

.keyboard {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  color: white;
  height: 250px;
  background-color: #eba1c1;
  background: radial-gradient(circle, #eba1c1 15%, #94bbe9 80%);
}

.keyboard__key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  margin: 5px;
  height: 40px;
  width: 40px;
  background-color: #cc6492;
  border-radius: 5%;
}

.keyboard__key_long {
  width: 55px;
}

